# Prerequisites
*.d
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.suo
*.user
Debug/
Release/

# Precompiled Headers
*.gch
*.pch
ipch/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
